.navbar{
  background: #112B3E;
}
#card{
  width: 30%;
  margin: 10px 0
}
.card{
  height: 100%;
}
.card-img-top{
  border-radius: 0%;
}
.card-body{
  background: #112B3E;
  color: #FFFFFF;
}
.App-link{
  color: #FFFFFF;
}
.App-main{
    background: #839695;
}
.articleBox{
  margin: 0 60px;
  text-align: center;
}
.cardBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0 20px;
}
.card:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.bigTitle{
  color: #FFFFFF;
  font-size: 36px;
}
.bigComment{
  background: whitesmoke;
  text-align: left;
  padding: 10px;
}